 {% extends 'Main.html' %} {% block Main %} {% load static %}
<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center lodder">
    {% if page == "one" %}
    <h2 data-aos="fade-up">Onam Phrase Puzzle Challenge</h2>
    <p data-aos="fade-up" data-aos-delay="100">Get ready for a thrilling Onam celebration with our "Onam Phrase Puzzle Challenge"! This interactive program is designed to test your memory and Onam knowledge while adding an element of excitement to the festivities. Here's how it works: During the
        program, we will display a set of 10 Onam-related phrase words on the screen for just 10 seconds. Your task is to remember them as best as you can. After the 10-second viewing period, you will have 30 seconds to correctly re-enter the phrase words
        in the exact order you saw them. Pay close attention and put your memory to the test! Your prize voucher is calculated based on the number of phrase words you match correctly. The more words you get right in the correct order, the bigger your
        prize will be. But that's not all! At the end of the event, one lucky participant will have a chance to win our bumper prize through a lucky draw. The coupon code for this lucky draw will be revealed at the conclusion of the program.
    </p>


    <button type="submit" onclick="loadTwo()" class="btn btn-primary">Start</button> {% elif page == "two" %}
    <script>
        loadTwo();
    </script>
    {% elif page == "three" %}
    <script>
        loadThree();
    </script>
    {% elif page == "four" %}
    <script>
        loadFour2();
    </script>
    {% elif page == "five" %}
    <script>
        loadFive();
    </script>
    {% elif page == "six" %}
    <script>
        loadSix();
    </script>
    {% endif %}
</div>



{% endblock Main %}